<section id="json-formatter-unit">
    <div class="plain-panel">
        <div class="actions">
            <span class="action-group">
                <span class="action">
                    <button class="clear-button" type="button">Clear</button>
                </span>
                <span class="action">
                    <button class="pull-down-menu samples-button" type="button">Samples</button>
                </span>
            </span>
            <span class="action-group">
                <span class="action">
                    <button class="load-button" type="button">Load...</button>
                </span>
                <span class="action">
                    <button class="save-button" type="button">Save...</button>
                </span>
            </span>
        </div>
        <label>JSON:<textarea class="input-string" rows="12"></textarea></label>
        <div class="options">
            <span class="option">
                <select class="space-type">
                    <option value="packed">Single line</option>
                    <hr>
                    <option value="tabs">Indented (Tabs)</option>
                    <option value="spaces">Indented (Spaces)</option>
                </select>
            </span>
            <span class="option">
                <label class="checkbox" title=""><input class="balanced-spacing" type="checkbox">&nbsp;Balanced Spacing</label>
            </span>
            <span class="option">
                <label class="checkbox" title=""><input class="final-line-break" type="checkbox">&nbsp;Final Line Break</label>
            </span>
        </div>
        <textarea class="output-string" rows="12" readonly></textarea>
    </div>
    <div class="accent-panel">
        <details class="references">
            <summary>Reference Links</summary>
            <div class="links"></div>
        </details>
    </div>
</section>
