@charset "utf-8";

#json-formatter-unit .input-string,
#json-formatter-unit .output-string
{
    font-family: var(--monospace-family);
    font-size: 13px;
    line-height: 1.333em;
    width: 100%;
    padding: 0 0.5em;
    resize: vertical;
    tab-size : 4;
    overscroll-behavior: contain;
    white-space: pre;
}

#json-formatter-unit .actions
{
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* align-items: center; */
    margin: 0.5em 0;
}

#json-formatter-unit .action-group
{
    padding: 0;
    display: flex;
    flex-direction: row;
    /* align-items: center; */
}

#json-formatter-unit .action-group + .action-group,
#json-formatter-unit .action + .action
{
    margin-left: 0.75em;
}

#json-formatter-unit .options
{
    padding: 0.5em 0 0.75em 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* align-items: center; */
    margin: 0;
}

#json-formatter-unit .option + .option
{
    margin-left: 0.75em;
    white-space: nowrap;
}

#json-formatter-unit .output-string
{
    margin-bottom: 0.25em;
}

#json-formatter-unit .output-error
{
    color: var(--color-error);
    white-space: unset;
}

#json-formatter-unit details
{
    margin: 1.2em 0;
}

#json-formatter-unit details[open] summary
{
    margin: 1.2em 0;
}

#json-formatter-unit summary
{
    font-weight: bold;
}

