@charset "utf-8";

#math-renderer-unit .latex-formula
{
    font-family: var(--monospace-family);
    font-size: 13px;
    line-height: 1.333em;
    width: 100%;
    resize: vertical;
    padding: 0 0.5em;
    tab-size : 4;
    overscroll-behavior: contain;
}

#math-renderer-unit .actions
{
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* align-items: center; */
    margin: 0.5em 0;
}

#math-renderer-unit .action-group
{
    padding: 0;
    display: flex;
    flex-direction: row;
    /* align-items: center; */
}

#math-renderer-unit .action-group + .action-group,
#math-renderer-unit .action + .action
{
    margin-left: 0.75em;
}

#math-renderer-unit .options
{
    padding: 0.5em 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* align-items: center; */
    margin: 0;
    white-space: nowrap;
}

#math-renderer-unit .option + .option
{
    margin-left: 0.75em;
}

#math-renderer-unit .latex-rendering
{
    font-size: 1.2em;
    text-align: center;
    vertical-align: middle;
    background-color: white;
    border: 1px solid var(--color-border);
    padding: 0.5em 1em;
    overflow-x: auto;
    margin-bottom: 0.5em;
}

#math-renderer-unit .latex-container
{
    min-width: 0;
}

#math-renderer-unit .rendering-error
{
    font-family: var(--monospace-family);
    font-size: 13px;
    line-height: 1.333em;
    color: var(--color-error);
    text-align: center;
    padding: 0 0.5em;
    user-select: text;
    cursor: text;
}

#math-renderer-unit details
{
    margin: 1.2em 0;
}

#math-renderer-unit details[open] summary
{
    margin: 1.2em 0;
}

#math-renderer-unit summary
{
    font-weight: bold;
}

