<section id="digital-clock-unit">
    <div class="plain-panel">
        <h2 class="title"></h2>
        <div class="clock">
            <div class="date"></div>
            <div class="time"></div>
        </div>
        <div class="interface">
            <select class="select-locale">
                <option value="en">English</option>
                <option value="en-AU">English (Australia)</option>
                <option value="en-CA">English (Canada)</option>
                <option value="en-NZ">English (New Zealand)</option>
                <option value="en-GB">English (U.K.)</option>
                <option value="en-US">English (U.S.)</option>
                <hr>
                <option value="fr">French</option>
                <option value="fr-BE">French (Belgium)</option>
                <option value="fr-CA">French (Canada)</option>
                <option value="fr-FR">French (France)</option>
                <option value="fr-LU">French (Luxembourg)</option>
                <option value="fr-MC">French (Monaco)</option>
                <option value="fr-CH">French (Switzerland)</option>
                <hr>
                <option value="zh">Chinese</option>
                <option value="zh-Hans">Chinese (Simplified)</option>
                <option value="zh-Hant">Chinese (Traditional)</option>
                <option value="zh-CN">Chinese (China)</option>
                <option value="zh-HK">Chinese (Hong Kong)</option>
                <option value="zh-MO">Chinese (Macao)</option>
                <option value="zh-SG">Chinese (Singapore)</option>
                <option value="zh-TW">Chinese (Taiwan)</option>
                <hr>
                <option value="ja">Japanese</option>
                <option value="ja-u-ca-japanese">Japanese (Era Name)</option>
                <hr>
                <option value="ko">Korean</option>
            </select>
        </div>
        <div class="options">
            <span class="option">
                <span>Era: </span>
                <select class="select-era">
                    <option value="undefined">(None)</option>
                    <hr>
                    <option value="narrow">Narrow</option>
                    <option value="short">Short</option>
                    <option value="long">Long</option>
                </select>
            </span>
            <span class="option">
                <span>Year: </span>
                <select class="select-year">
                    <option value="undefined">(None)</option>
                    <hr>
                    <option value="numeric">Numeric</option>
                    <option value="2-digit">2-Digit</option>
                </select>
            </span>
            <span class="option">
                <span>Month: </span>
                <select class="select-month">
                    <option value="undefined">(None)</option>
                    <hr>
                    <option value="numeric">Numeric</option>
                    <option value="2-digit">2-Digit</option>
                    <option value="narrow">Narrow</option>
                    <option value="short">Short</option>
                    <option value="long">Long</option>
                </select>
            </span>
            <span class="option">
                <span>Day: </span>
                <select class="select-day">
                    <option value="undefined">(None)</option>
                    <hr>
                    <option value="numeric">Numeric</option>
                    <option value="2-digit">2-Digit</option>
                </select>
            </span>
            <span class="option">
                <span>Weekday: </span>
                <select class="select-weekday">
                    <option value="undefined">(None)</option>
                    <hr>
                    <option value="narrow">Narrow</option>
                    <option value="short">Short</option>
                    <option value="long">Long</option>
                </select>
            </span>
        </div>
        <div class="options">
            <span class="option">
                <span>12-Hour: </span>
                <select class="select-hour12">
                    <option value="undefined">(None)</option>
                    <hr>
                    <option value="false">False</option>
                    <option value="true">True</option>
                </select>
            </span>
            <span class="option">
                <span>Hour: </span>
                <select class="select-hour">
                    <option value="undefined">(None)</option>
                    <hr>
                    <option value="numeric">Numeric</option>
                    <option value="2-digit">2-Digit</option>
                </select>
            </span>
            <span class="option">
                <span>Minute: </span>
                <select class="select-minute">
                    <option value="undefined">(None)</option>
                    <hr>
                    <option value="numeric">Numeric</option>
                    <option value="2-digit">2-Digit</option>
                </select>
            </span>
            <span class="option">
                <span>Second: </span>
                <select class="select-second">
                    <option value="undefined">(None)</option>
                    <hr>
                    <option value="numeric">Numeric</option>
                    <option value="2-digit">2-Digit</option>
                </select>
            </span>
            <span class="option">
                <span>Time Zone: </span>
                <select class="select-timezonename">
                    <option value="undefined">(None)</option>
                    <hr>
                    <option value="short">Short</option>
                    <option value="long">Long</option>
                </select>
            </span>
        </div>
    </div>
    <div class="accent-panel">
        <details class="references">
            <summary>Reference Links</summary>
            <div class="links"></div>
        </details>
    </div>
</section>
