@charset "utf-8";

#digital-clock-unit .title
{
    text-align: center;
}

#digital-clock-unit .interface
{
    text-align: center;
    margin: 1.5em 0;
}

#digital-clock-unit .options
{
    font-size: 13px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1em 0 0.75em 0;
}

#digital-clock-unit .option + .option
{
    margin-left: 0.75em;
}

#digital-clock-unit .option > span
{
    white-space: nowrap;
}

#digital-clock-unit .clock
{
    border: 1px solid var(--color-border);
    font-family: var(--monospace-family);
    font-size: 22px;
    text-align: center;
    background-color: white;
    color: var(--color);
    line-height: 1.5em;
    padding: 0.5em;
    overflow-x: auto;
}

#digital-clock-unit details
{
    margin: 1.2em 0;
}

#digital-clock-unit details[open] summary
{
    margin: 1.2em 0;
}

#digital-clock-unit summary
{
    font-weight: bold;
}

