<section id="svg-optimizer-unit">
    <div class="plain-panel">
        <div class="actions">
            <span class="action-group">
                <span class="action">
                    <button class="clear-button" type="button">Clear</button>
                </span>
                <span class="action">
                    <button class="pull-down-menu samples-button" type="button">Samples</button>
                </span>
            </span>
            <span class="action-group">
                <span class="action">
                    <button class="load-button" type="button">Load...</button>
                </span>
                <span class="action">
                    <button class="save-button" type="button">Save...</button>
                </span>
            </span>
        </div>
        <label>SVG:<textarea class="input-string" rows="12"></textarea></label>
        <div class="options">
            <span class="option">
                Optimization:&nbsp;&nbsp;<span class="percentage"></span>
            </span>
            <span class="action">
                <button class="output-save-button" type="button">Save...</button>
            </span>
        </div>
        <textarea class="output-string" rows="12" readonly></textarea>
    </div>
    <div class="accent-panel">
        <details class="references">
            <summary>Reference Links</summary>
            <div class="links"></div>
        </details>
    </div>
</section>
