@charset "utf-8";

#svg-optimizer-unit .input-string,
#svg-optimizer-unit .output-string
{
    font-family: var(--monospace-family);
    font-size: 13px;
    line-height: 1.333em;
    width: 100%;
    padding: 0 0.5em;
    overflow-y: scroll;
    resize: vertical;
    tab-size : 4;
    margin-bottom: 0.25em;
    overscroll-behavior: contain;
    white-space: pre-wrap;
}

#svg-optimizer-unit .actions
{
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* align-items: center; */
    margin: 0.5em 0;
}

#svg-optimizer-unit .action-group
{
    padding: 0;
    display: flex;
    flex-direction: row;
    /* align-items: center; */
}

#svg-optimizer-unit .action-group + .action-group,
#svg-optimizer-unit .action + .action
{
    margin-left: 0.75em;
}

#svg-optimizer-unit .options
{
    padding: 0.5em 0 1.5em 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0.5em 0 0 0;
}

#svg-optimizer-unit .options .percentage
{
    font-weight: bold;
}

#svg-optimizer-unit .options .output-save-button
{
    margin-bottom: 0;
}

#svg-optimizer-unit .option label
{
    white-space: nowrap;
}

#svg-optimizer-unit .option + .option
{
    margin-left: 1em;
}

#svg-optimizer-unit .output-error
{
    color: var(--color-error);
    white-space: unset;
}

#svg-optimizer-unit details
{
    margin: 1.2em 0;
}

#svg-optimizer-unit details[open] summary
{
    margin: 1.2em 0;
}

#svg-optimizer-unit summary
{
    font-weight: bold;
}

