@charset "utf-8";

#ietf-language-tags-unit details
{
    margin: 1.2em 0;
}

#ietf-language-tags-unit details[open] summary
{
    margin: 1.2em 0;
}

#ietf-language-tags-unit summary
{
    font-weight: bold;
}

