@charset "utf-8";

:root
{
    --color:           hsl(0, 0%, 22%);
    --color-subtle:    hsl(0, 0%, 44%);
    --color-strong:    hsl(0, 0%, 11%);
    --color-strongest: hsl(0, 0%, 0%);
    --color-dimmed:    hsl(0, 0%, 56%);
    --color-border:    hsl(31, 5%, 88%);
    --color-bg:        hsl(31, 5%, 96%);
    --color-accent:    hsl(196, 75%, 37%);
    --color-hover:     hsl(270, 100%, 50%);
    --color-error:     hsl(0, 100%, 40%);
    --color-highlight: hsl(56, 100%, 50%);
    --color-selection: hsl(255, 75%, 60%);
    --color-focus:     hsl(210, 100%, 67%);
    --sidebar-duration: calc(1s/10);
    --sidebar-width: 256px;
    --monospace-family: "Segoe UI Mono", Monaco, Menlo, "DejaVu Sans Mono", "Liberation Mono", "Noto Mono", "Ubuntu Mono", monospace;
    --system-ui-family: "Segoe UI", system-ui, sans-serif;
    --sans-serif-family: "Segoe UI", Arial, Geneva, Verdana, Tahoma, "DejaVu Sans", "Liberation Sans", "Noto Sans", Ubuntu, sans-serif;
}

:lang(ja)
{
    font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "ヒラギノ 角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "Osaka", "游ゴシック", "YuGothic", "Yu Gothic", "メイリオ", "Meiryo", "ＭＳ Ｐゴ シック", "VL Pゴシック", "VL PGothic", "Noto Sans CJK JP", "TakaoExゴシック", "TakaoExGothic", "IPAex ゴシック", "IPAexGothic", "IPA Pゴシック", "IPAPGothic", sans-serif;
}

:lang(ko)
{
    font-family: "Apple SD Gothic Neo Medium", "AppleGothic", "맑은 고딕", "Malgun Gothic", "돋움 Regular", "Dotum", "UnDotum", "백묵 돋움", "Baekmuk Dotum", "은 돋움 Regular", "Un Dotum", "Noto Sans CJK KR", sans-serif;
}

:lang(zh)
{
    font-family: "PingFang SC", "PingFang TC", "儷黑 Pro", "LiHei Pro Medium", "华文黑体", "STHeiti", "Hei", "微软雅黑", "Microsoft YaHei", "MS Hei", "黑体", "SimHei", "文泉驿微米黑", "WenQuanYi Micro Hei", "Noto Sans CJK SC", "Noto Sans CJK TC", sans-serif;
}

div.unicode-version
{
    display: none;
}

