<section id="roman-numerals-unit">
    <h1>Roman Numerals Converter</h1>
    <div class="plain-panel">
        <h2>Roman to Arabic Numeral</h2>
        <div><label>Roman:&nbsp;<input class="roman-input" type="text" size="18"></label></code></div>
        <div><label>Arabic:&nbsp;&nbsp;<input class="arabic-output" type="text" size="18" readonly></label></div>
    </div>
    <div class="plain-panel">
        <h2>Arabic to Roman Numeral</h2>
        <div><label>Arabic:&nbsp;&nbsp;<input class="arabic-input" type="text" size="18"></label></div>
        <div><label>Roman:&nbsp;<input class="roman-output" type="text" size="18" readonly></label></div>
    </div>
    <div class="accent-panel">
        <details class="notes">
            <summary>Notes</summary>
            <ul>
                <li>
                    The Roman numerals are a numerical system composed of seven Latin letters:<br>
                    I, V, X, L, C, D and M.
                </li>
                <li>
                    I = 1; V = 5; X = 10; L = 50; C = 100; D = 500; M = 1000.
                </li>
                <li>The number 0 does not have its own Roman numeral.</li>
                <li>
                    Because the largest letter used is M and only three of the same numeral can be stacked together, the largest number you can make in Roman numerals is <code class="select-all">3999</code> (<code class="select-all">MMMCMXCIX</code>).
                </li>
                <li>
                    <code class="select-all">MMMDCCCLXXXVIII</code> is the Roman numeral representation of <code class="select-all">3888</code>, and it is the longest Roman numeral you can write (15 letters).
                </li>
                <li>
                    The present year number <code class="arabic-sample select-all"></code> is written <code class="roman-sample select-all"></code> in Roman numerals.
                </li>
            </ul>
        </details>
        <details class="references">
            <summary>Reference Links</summary>
            <div class="links"></div>
        </details>
    </div>
</section>
