@charset "utf-8";

#cidr-calculator-unit code,
#cidr-calculator-unit input,
#cidr-calculator-unit textarea
{
    font-family: var(--monospace-family);
    font-size: 13px;
    line-height: 1.333em;
}

#cidr-calculator-unit code.select-all
{
    user-select: all;
    cursor: text;
}

#cidr-calculator-unit textarea
{
    overscroll-behavior: contain;
}

#cidr-calculator-unit .ip-range-output
{
    resize: none;
}

#cidr-calculator-unit .cidr-list-output
{
    resize: vertical;
}

#cidr-calculator-unit .plain-panel
{
    padding-bottom: 0.25em;
}

#cidr-calculator-unit .plain-panel div
{
    margin-bottom: 1em;
}

#cidr-calculator-unit details
{
    margin: 1.2em 0;
}

#cidr-calculator-unit details[open] summary
{
    margin: 1.2em 0;
}

#cidr-calculator-unit summary
{
    font-weight: bold;
}

