@charset "utf-8";

#text-converter-unit .plain-panel
{
    overflow-x: visible;
}

#text-converter-unit .tab-bar
{
    display: flex;
    justify-content: center;
    /* text-align: center; */
    white-space: nowrap;
    margin: -2em 0 1em 0;
}

#text-converter-unit .tab-bar .tab-label .tab-radio
{
    display: none;
}

#text-converter-unit .tab-bar .tab-label span
{
    padding: 0.2em 1em;
    font-size: 1em;
    font-weight: 600;
    border: 1px solid var(--color-accent);
    border-radius: 0;
    background-color: white;
    color: var(--color-accent);
    margin: 0 -2px;
}

#text-converter-unit .tab-bar .tab-label:first-of-type span
{
    border-top-left-radius : 0.5em;
    border-bottom-left-radius : 0.5em;
    margin-right: -3px;
}

#text-converter-unit .tab-bar .tab-label:last-of-type span
{
    border-top-right-radius : 0.5em;
    border-bottom-right-radius : 0.5em;
    margin-left: -3px;
}

#text-converter-unit .tab-bar .tab-label .tab-radio:checked + span
{
    background-color: var(--color-accent);
    box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.25);
    color: white;
}

#text-converter-unit .tab-bar .tab-label .tab-radio:not(:checked) + span:hover
{
    background: var(--color-accent) linear-gradient(hsla(0, 0%, 100%, 0.75), hsla(0, 0%, 100%, 0.75));
    box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.25);
}

#text-converter-unit .encoder-input-string,
#text-converter-unit .encoder-output-string,
#text-converter-unit .decoder-input-string,
#text-converter-unit .decoder-output-string
{
    font-family: var(--monospace-family);
    font-size: 13px;
    line-height: 1.333em;
    width: 100%;
    padding: 0.25em 0.5em;
    overflow-y: scroll;
    resize: vertical;
    tab-size : 4;
    margin-bottom: 0.25em;
    overscroll-behavior: contain;
}

#text-converter-unit .actions
{
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0.5em 0;
}

#text-converter-unit .action-group
{
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#text-converter-unit .action-group + .action-group,
#text-converter-unit .action + .action
{
    margin-left: 0.75em;
}

#text-converter-unit .options
{
    padding: 0.5em 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0.5em 0 0 0;
}

#text-converter-unit .option + .option
{
    margin-left: 0.75em;
}

#text-converter-unit .output-error
{
    color: var(--color-error);
}

#text-converter-unit details
{
    margin: 1.2em 0;
}

#text-converter-unit details[open] summary
{
    margin: 1.2em 0;
}

#text-converter-unit summary
{
    font-weight: bold;
}

