@charset "utf-8";

#romaji-kana-unit div.kana-options
{
    display: flex;
    justify-content: flex-start;
}

#romaji-kana-unit div.kana-options select
{
    margin-right: 1.5em;
}

#romaji-kana-unit label.text
{
    display: flex;
    align-items: center;
    font-size: 16px;
}

#romaji-kana-unit .romaji-input,
#romaji-kana-unit .kana-output,
#romaji-kana-unit .kana-input,
#romaji-kana-unit .romaji-output
{
    font-size: 16px;
    line-height: 1.333em;
    padding: 0.2em 0.3em;
    width: 100%;
}

#romaji-kana-unit .plain-panel
{
    padding-bottom: 0.75em;
}

#romaji-kana-unit .plain-panel div
{
    margin: 1em 0;
}

#romaji-kana-unit table
{
    font-size: 14px;
    width: unset;
}

#romaji-kana-unit tr th
{
    background: var(--color-accent) linear-gradient(hsla(0, 0%, 100%, 0.8), hsla(0, 0%, 100%, 0.8));
}

#romaji-kana-unit tr:nth-child(even) td
{
    background-color: white;
}

#romaji-kana-unit tr:nth-child(odd) td
{
    background: var(--color-accent) linear-gradient(hsla(0, 0%, 100%, 0.95), hsla(0, 0%, 100%, 0.95));
}

#romaji-kana-unit th,
#romaji-kana-unit td
{
    text-align: left;
    padding: 0.25em 0.5em;
    white-space: nowrap;
}

#romaji-kana-unit td
{
    user-select: text;
    cursor: text;
}

#romaji-kana-unit .hepburn-tables table
{
    border-bottom: none;
}

#romaji-kana-unit .hepburn-tables tr:last-child th
{
    border-bottom: 1px solid hsla(0, 0%, 0%, 0.06);
}

#romaji-kana-unit .hepburn-tables tr th.empty,
#romaji-kana-unit .hepburn-tables tr td.empty
{
    width: 1em;
    border-top: none;
    border-bottom: none;
    background: var(--color-accent) linear-gradient(hsla(0, 0%, 100%, 0.9), hsla(0, 0%, 100%, 0.9));
}

#romaji-kana-unit .correlation-tables code
{
    color: inherit;
    background: var(--color-accent) linear-gradient(hsla(0, 0%, 100%, 0.8), hsla(0, 0%, 100%, 0.8));
}

#romaji-kana-unit details
{
    margin: 1.2em 0;
}

#romaji-kana-unit details[open] summary
{
    margin: 1.2em 0;
}

#romaji-kana-unit summary
{
    font-weight: bold;
}

